@model Marchandise_FCE.Models.Mtarif

@{
    ViewData["Title"] = "Delete";
}

<h1>Suppression</h1>

<h3>Voulez-vous effacer ce tarif ?</h3>
<div>
    <h4>Mtarif</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prixkilo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prixkilo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zone.codezone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categorie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categorie.codcat)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="idtarif" />
        <input type="submit" value="Delete" class="btn btn-outline-danger" /> |
        <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
    </form>
</div>
