@model IEnumerable<Marchandise_FCE.Models.Mzone>

@{
    ViewData["Title"] = "Index";
}

<link href="~/css/styles.css" rel="stylesheet" />
    
<h1>Liste des zones</h1>


    

<form method="get" asp-action="Index">
    <a asp-action="Create" class="btn btn-outline-primary">Nouveau</a> | 
    <input type="text" name="recheche" placeholder="Recherche..." />
    <button type="submit" class="btn btn-primary">Rechercher</button>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Code
            </th>
            <th>
                Nom
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.codezone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomzone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descriptzone)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.codezone"><img class="modif" src="~/img/edit.png" /></a> |
                    <a asp-action="Delete" asp-route-id="@item.codezone"><img class="delete" src="~/img/delete.jpg" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
